extends template

block link
    - api.forEach(function(item){
        li
            a(href='#')
                i.icon-chevron-right
                | #{item.title}
    - })

block content
    - api.forEach(function(item){
    -    var loginclass = item.login ? 'login' : '';
        section(class=loginclass)
            .page-header
                h2 #{item.title}
            p
                code
                    strong API
                    | &nbsp #{item.api}
            p
                code
                    strong SDK
                    | &nbsp #{item.sdk}
            pre.prettyprint.linenums
                .navbar
                    .navbar-inner
                        form.navbar-form.pull-right(action='#{item.action}')
                            - item.params.forEach(function(param){
                                input(type='text',placeholder="#{param}")
                            - })
                            button.btn(type='submit') 试一下
                .progress.progress-striped.active(style='width:200px;margin:0 auto;display:none')
                    .bar(style='width:100%')
                ol.linenums
    - })

block hidd
    input#hidTestUserId1(type='hidden', value='#{testUserId1}')
    input#hidTestUserId2(type='hidden', value='#{testUserId2}')
    input#hidTestUsername1(type='hidden', value='#{testUsername1}')
    input#hidTestUsername2(type='hidden', value='#{testUsername2}')
    input#hidLoginUserId(type='hidden', value='#{loginUserId}')
    input#hidModule(type='hidden', value='#{moduleName}')

